//--------------- PALETTE ----------------//
$mycolors: (
  bg: lightcoral
);

@function color($color-name) {
  @return map-get($mycolors, $color-name);
}

//--------------- GLOBAL ----------------//
html,
body {
  margin: 0;
  padding: 0;
  background-color: color(bg);
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  width: 100%;
  // position: absolute;
}

html {
  position: fixed;
}

img {
  box-sizing: border-box;
  // width: 100%;
  // height: auto;
}

@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

//--------------- LOCAL ----------------//

.header {
  .nav {
    // border: solid 1px black;
    background-color: #5d4954; //nav bgc
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .nav-logo a {
      color: lightgrey;
      text-decoration: none;
      letter-spacing: 5px;
      font-size: 15px;
    }
    .nav-links {
      display: flex;
      justify-content: space-around;
      width: 50%;
      padding-left: 0;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          color: lightgrey;
          font-weight: bold;
          font-size: 1.5rem;
          text-transform: capitalize;
        }
      }
    }
  }
}

.burger {
  display: none;
  div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    // border: 1px solid white;
    transition: 0.3s ease-in;
  }
}



.nav-links{
  // border: 1px solid black;
  background-color: #5d4954;
  color: black;
  position: absolute;
  right: 0;
  height: 92vh;
  top: 8vh;
  // margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.nav-links li{
  opacity: 0;
}

.burger {
  display: block;
  cursor: pointer;
}

.nav-active{
  transform: translateX(0%);
}


@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform : rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform : rotate(45deg) translate(-5px, -6px);
}